.knx-logo {
    height: 100%;
}

.knx-header {
    text-align: center;
    background-color: #08c;
    height: 60px;
    padding: 10px;
    color: #fefefe;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    padding-top: 60px;
}
