@font-face {
  font-family: "Proximanova regular";
  src: 
  url("./assets/fonts/proximanova-regular-webfont.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Proximanova regular", sans-serif;
  color: #999;
}

* {
  box-sizing: border-box;
}

/** GRID **/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row * {
  flex-grow: 1
}

.col {
  flex-grow: 1;
}

.is-narrow {
  flex-grow: 0;
}

.is-12 {
  max-width: 100%;
  min-width: 100%;
}
.is-11 {
  max-width: 91.674%;
  min-width: 91.674%;
}
.is-10 {
  max-width: 83.334%;
  min-width: 83.33%;
}
.is-9 {
  max-width: 75%;
  min-width: 75%;
}
.is-8 {
  max-width: 66.67%;
  min-width: 66.67%;
}
.is-7 {
  max-width: 58.338%;
  min-width: 58.338%;
}
.is-6 {
  max-width: 50%;
  min-width: 50%;
}
.is-5 {
  max-width: 41.67%;
  min-width: 41.67%;
}
.is-4 {
  max-width: 33.336%;
  min-width: 33.336%;
}
.is-3 {
  max-width: 25%;
  min-width: 25%;
}
.is-2 {
  max-width: 16.68%;
  min-width: 16.668%;
}
.is-1 {
  max-width: 8.334%;
  min-width: 8.334%;
}

.hide {
  max-width: 0;
  min-width: 0;
  overflow: hidden;
}

.col, .hide {
  transition: all 300ms ease-in-out;
}