/** SIDEBAR **/
.map-sidebar {
    background: #e57373;
    color: #fefefe;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
    z-index: 1;
    overflow: hidden;
}

.map-sidebar-close {
    font-size: 25px;
    font-weight: 100;
    font-family: 'Open sans';
}

.map-sidebar-section {
    min-width: 480px;
    padding: 50px 20px;
}

.map-sidebar-action {
    display: inline-block;
    apeareance: none;
    background: #f2f2f2;
    border: 0;
    padding: 5px 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    margin-top: 30px;
}

.map-sidebar-action:hover {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
}

.map-sidebar-action-cancel {
    margin-right: 15px;
    background: #08c;
    color: #fefefe;
}

.map-sidebar-action-cancel:hover {
    background: #209ad8;
}

.edit-details-input {
    font-family: inherit;
    font-size: 16px;
    margin-left: 5px;
    background: rgba(256, 356, 256, 0.1);
    border: 0;

    /* border-bottom: 1px solid #fefefe; */
    color: #fefefe;
    outline: 0;
    padding: 0 10px;
}

.edit-details-input option {
    color: #999;
}

.point-info {
    height: 30px;
    line-height: 30px;
    margin: 15px auto;
}

h2 {
    font-weight: normal;
}

hr {
    border: 1px solid #fefefe;
    margin-bottom: 50px;
}

edit-details-input:-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(254,254,254,0.5);
}
edit-details-input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(254,254,254,0.5);
}
edit-details-input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(254,254,254,0.5);
}
edit-details-input:-moz-placeholder { /* Firefox 18- */
  color: rgba(254,254,254,0.5);
}
